@model IEnumerable<Library.Data.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Books catalogue</h1>
</div>

<div class="row">
    <h2 class="lastBooks">Recently added books</h2>
    <hr />
@Html.Partial("_LastBooks", Model)
</div>